
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


.texto-header{
    
    text-align: center;
    color: #fff;

}
.section-img{
    background-image: url(dev.webp);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

body{
    background-color: #001d3d;
    margin: 25px;
  

}


.container-infor{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}

.container-conteudo-one ul{
    text-align: center;
    position: relative;
    right: 20px;
    width: 90%;
    margin: 5px auto 0;
}

.container-conteudo-one li{
    list-style: none;
    /*Cria um espaçamento entre as tag LI*/
    margin-bottom: 10px;

    
   
}

.container-guia{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    justify-content: space-between;
    position: relative;
   
    
    
}

.tipos{
    background-color:#c0d6df;
    border-radius: 20px;
    height: 400px;
    color: #171d1c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.container-guia .tipos{
   display: grid;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.linguagens{
    width: 120px;
    height: 120px;
    line-height: 50px;
    border-radius: 50%;

    background-color:#2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto;
    position: relative;

  
}


.container-guiando{
    color: #fff;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   
}

.container-guiando h1{
    text-align: center;
    font-size: 30px;
}
.container-guiando h3,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*rodape*/

footer{
    background-color: #0d192b;
    height: 150px;
    color: #fff;
}
footer img{
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-top: 45px;
  position: relative;
  right: 40px;

 
  
  
    

}

footer .rede{
    display: flex;
    justify-content: center;  
    text-align: center;
    grid-gap: 1rem;
    
}

/*responsividasde*/

@media screen and (max-width:768px) {

    body{
        margin: 25px;
        background-color: darkgreen;
    }
    .container-guia .tipos{
        width:60%;
        position: relative;
        display: flex;
        text-align: center;
        padding: 1rem ;
        justify-content: center;

        
        
    }
    .tipos{
        position: relative;
        left: 52px;
    }
    .container-guia{
        display: grid;
        position: relative;
        padding: 2rem 0;
        grid-gap: 20px;
        

       
    }
    .container-conteudo-one .tipos{
        flex: 1;
        justify-content: center;
        text-align: center;
    }
    .container-guia .tipos {
        position: relative;
        justify-content: center;
      
    }
        
    .container-guia .linguagens{
        width: 120px;
        height: 120px;
        line-height: 50px;
        border-radius: 50%;
        background-color:#2cc762;
        color: #fff;
        text-align: center;
        line-height: 120px;
        margin: 0 auto;
        position: relative;
    }
    footer{
        width: 100%;
        background-color: #000;
    }
    
}
